@model List<Kampanya>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-2">
  @foreach(var item in Model){
     <div class="col">
    <div class="card">
      <img src="https://cdn05.e-bebek.com/media/c/indirim-logosu-3-m.jpg" class="card-img-top w-100" alt="...">
      <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(modelItem=> item.KampanyaAdi)</h5>
        
        
      </div>
    </div>
  </div>
  }
</div>