<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center bg-light border p-4 mt-2">
            <h4 class="fw-bold">Footer Başlığı</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt illo qui beatae, eaque labore aliquam laborum unde repudiandae, cumque ratione illum maiores dolorum mollitia eligendi vero perferendis voluptatem ipsa rem.</p>
        </div>
        <div class="col-sm-6 text-center bg-light border p-4">
            <h5>Footer İkinci Kısmı</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus quam cum, labore id corporis distinctio vero delectus repellendus error vel accusamus omnis nam cumque provident nobis incidunt. Id, quas architecto?</p>
            <p class="fw-bold">Footer Son İçerik</p>
        </div>
    </div>

</div>