@model LoginViewModel
<div class="text-center login-bg">
<h2 class="text-center">Giriş Yap</h2>
<hr>
<p>Bir Hesabın Yok Mu? <a asp-action="Create" asp-controller="Users" class="fs-5">Kaydol</a></p>
<hr>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="bg-light   login-box">
            <form method="post" asp-action="Login">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="UserName">Kullanıcı Adı</label>
                    <input asp-for="UserName" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Password">Şifre</label>
                    <input asp-for="Password" class="form-control" type="password">
                </div>
                <div class="form-check form-check-inline mb-3">
                    <label asp-for="RememberMe" class="form-check-label">Beni Hatırla</label>
                    <input asp-for="RememberMe" class="form-check-input ">
                </div>
                <button type="submit" class="btn btn-primary btn-lg rounded-pill">Giriş Yap</button>
            </form>
        </div>
    </div>
</div>
</div>