<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 text-center bg-warning border p-4">
            
                <ul>
                    <h5>Kurumsal</h5>
                    <a href=""><li class="mt-4">Mağazalarımız</li></a>
                   <a href=""> <li>KVKK</li></a>
                   <a href=""><li>İletişim</li></a> 
                   <a href=""> <li>Bilgi Güvenliği Politikası</li></a>
                   <a href=""> <li>Kalite Politikası</li></a>
                </ul>
            </div>
            <div class="col-sm-3 text-center bg-warning border p-4">
                <ul>
                    <h5>Yardım</h5>
                    <a href=""><li class="mt-4">Sipariş Takip</li></a>
                   <a href=""> <li>Garanti Koşulları</li></a>
                   <a href=""> <li>Ödeme Seçenekleri</li></a>
                   <a href=""> <li>Gizlilik</li></a>
                </ul>
            </div>
        
        <div class="col-sm-6 text-center bg-warning border p-4">
            <h5>Footer İkinci Kısmı</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus quam cum, labore id corporis distinctio vero delectus repellendus error vel accusamus omnis nam cumque provident nobis incidunt. Id, quas architecto?</p>
            <p class="fw-bold">Footer Son İçerik</p>
        </div>
    </div>

</div>