<div class="container-fluid ">
    <div class="row sticky-bottom">
        <div class="col-sm-3 text-center bg-warning border p-4">
            
                <ul>
                    <h5>Kurumsal</h5>
                    <a href=""><li class="mt-4">Mağazalarımız</li></a>
                   <a href=""> <li>KVKK</li></a>
                   <a href=""><li>İletişim</li></a> 
                   <a href=""> <li>Bilgi Güvenliği Politikası</li></a>
                   <a href=""> <li>Kalite Politikası</li></a>
                </ul>
            </div>
            <div class="col-sm-3 text-center bg-warning border p-4">
                <ul>
                    <h5>Yardım</h5>
                    <a href=""><li class="mt-4">Sipariş Takip</li></a>
                   <a href=""> <li>Garanti Koşulları</li></a>
                   <a href=""> <li>Ödeme Seçenekleri</li></a>
                   <a href=""> <li>Gizlilik</li></a>
                </ul>
            </div>
        
        <div class="col-sm-6 text-center bg-warning border p-4">
            <h5>Bizi Sosyal Medyada Takip Edin</h5>
            <ul class="mt-4">
                <li><a href="https://www.instagram.com/berktenkoglu"><i class="fa-brands fa-instagram fa-2xl text-dark mb-4"></i></a></li>
                <li><a href="https://www.instagram.com/berktenkoglu"><i class="fa-brands fa-facebook fa-2xl text-dark mb-4"></i></a></li>
                <li><a href="https://www.instagram.com/berktenkoglu"><i class="fa-brands fa-linkedin fa-2xl text-dark mb-4"></i></a></li>
                <li><a href="https://www.instagram.com/berktenkoglu"><i class="fa-brands fa-youtube fa-2xl text-dark mb-4"></i></a></li>
            </ul>
        </div>
    </div>

</div>