<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary ">
  <div class="container ">
    <a class="navbar-brand text-warning" asp-controller="Home" asp-action="Index">Bebeğim.com</a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span ><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 ml-4">
        <li class="nav-item">
          <a class="nav-link active text-warning" aria-current="page" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" asp-controller="Urun" asp-action="Index">Tüm Ürünler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" asp-controller="Kampanya" asp-action="Index">Kampanyalar</a>
        </li>
        
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategoriler
          </a>
          <ul class="dropdown-menu">
            
              <li><a class="dropdown-item" asp-controller="Kategori" asp-action="Details" asp-route-id="1">Giyim & Tekstil</a></li>
              <li><a class="dropdown-item" asp-controller="Kategori" asp-action="Details" asp-route-id="2">Bebek Odası</a></li>
              <li><a class="dropdown-item" asp-controller="Kategori" asp-action="Details" asp-route-id="3">Oyuncak & Kitap</a></li>
              <li><a class="dropdown-item" asp-controller="Kategori" asp-action="Details" asp-route-id="4">Beslenme</a></li>
          </ul>
        </li>
         @if (User.Identity.IsAuthenticated)
         {
          <span class="nav-item nav-link text-white">Merhaba  @User.Identity.Name</span>
              <form method="post" asp-action="CikisYap" asp-controller="Users">
              <button type="submit" class="nav-item nav-link btn btn-link text-white btn-danger rounded-pill p-2" onclick="return confirm('Çıkış Yapılacak,Emin misiniz?')">Çıkış Yap</button>
          </form>
         } else{
          <li><a class="btn btn-md btn-secondary m-1 rounded-pill" asp-controller="Users" asp-action="Login"><i class="fa-solid fa-user px-1"></i>Giriş Yap</a></li>
         }
        
        <li><a class="btn btn-md btn-secondary m-1 rounded-pill" asp-controller="Sepet" asp-action="Index"><i class="fa-solid fa-cart-shopping px-1"></i>Sepetim</a></li>
        </div>
      
       
      <form class="d-flex ml-4" role="search" asp-controller="Urun" asp-action="Index" method="get">
        <input class="form-control me-2 rounded-pill" type="search" placeholder="Ürün Ara" aria-label="Search" name="searchTerm">
        <button class="btn btn-success rounded-pill px-3" type="submit">Ara</button>
      </form>
    </div>
  </div>
</nav>